@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: rgb(244, 245, 240);
} */

body {
  background-color: rgb(250, 250, 250);
} /* A soft light gray background
    /* body {
        position: relative;
      }

    body {
        background-image: url('https://images.unsplash.com/photo-1606092195730-5d7b9af1efc5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    } */
